listen=NO
listen_ipv6=YES
local_enable=YES
anonymous_enable=NO

pasv_enable=YES
port_enable=YES
pasv_min_port=12000
pasv_max_port=12100
listen_port=21
pasv_addr_resolve=YES

write_enable=YES

local_root={{ ftp_root_dir }}

chroot_local_user=YES

xferlog_enable=YES
hide_ids=YES